* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: rgb(149, 225, 253) !important;
    height: 100vh;
    display: flex;
    padding: 2%;
}

nav {
    top: 0;
    position: fixed;
    height: 100vh;
    width: 30%;
}

main {
    background-color: white;
    width: 80%;
    height: 90vh;
    border-radius: 5vh;
}

.image_button {
    width: 3vh;
    filter: invert(1);
}

textarea {
    border: 0;
    width: 100%;    
    height: 80vh;
    outline: none;
}
